body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff; /* AliceBlue */
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell.x {
    color: #ff4500; /* OrangeRed */
}

.cell.o {
    color: #4169e1; /* RoyalBlue */
}

#status {
    font-size: 1.2em;
    min-height: 1.5em;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content.win {
    background-color: #2e8b57; /* SeaGreen */
    color: white;
}

.popup-content.draw {
    background-color: #dc143c; /* Crimson */
    color: white;
}
