body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#status {
    font-size: 1.2em;
    min-height: 1.5em;
}
